@charset "utf-8";
body,html{ background:#f5f5f5; }

.smy_course_box{}



/*课表——待评价*/
.smy_course_dp_title{  width:100%; height:0.96rem; background:#f5f5f5; overflow:hidden; }
.smy_course_dp_title_text{  display:inline-block; height:100%; padding:0.45rem 0 0 0.32rem; box-sizing:border-box; color:#777474; font-size:0.32rem;  }
.smy_course_dp_item{  width:100%; height:1.28rem; background:#fff; border-top:0.03rem solid #e8e8e8; border-bottom:0.03rem solid #e8e8e8; }
.smy_course_dp_item_text{ float:left; width:66%; padding-left:0.32rem; height:1.28rem; box-sizing:border-box; line-height:1.28rem; font-size:0.43rem; color:#4A4A4A; overflow:hidden; text-overflow:ellipsis; }
.smy_course_dp_item_xing{  float:right; width:30%; padding-top:0.35rem; padding-right:0.32rem; height:1.28rem; box-sizing:border-box; text-align:right; }
.smy_course_dp_item_xing_img{  display:inline-block; width:0.51rem; }
.smy_course_dp_item2{  width:100%; height:3.47rem; background:#fff; border-top:0.03rem solid #e8e8e8; border-bottom:0.03rem solid #e8e8e8; }
.smy_course_dp_textarea{ resize: none; border:none; width:100%; height:3.47rem;  padding:0.32rem; box-sizing:border-box; font-size:0.37rem; line-height:0.53rem; }
.smy_course_dp_btu{  display:block; width:4.0rem; height:0.96rem; border-radius:2.67rem; border:0.03rem solid #DC2828; background:#fff; line-height:0.96rem; margin:1.07rem auto 0; text-align:center; font-size:0.43rem; color:#DC2828; }
.smy_course_dp_btu>a{color:#DC2828;}
.smy_course_dp_btu2{border-color: #7F7979;color:#7F7979;}


.smy_course_dp_textarea_show{border:none; width:100%; height:3.47rem;  padding:0.32rem; box-sizing:border-box; font-size:0.37rem; color: #4A4A4A; line-height:0.53rem; }


/*头部*/
.smy_course_head{  width:100%; height:1.33rem;  border-top:0.03rem solid #e8e8e8; border-bottom:0.03rem solid #e8e8e8;  background:#fff; position:fixed; top:0; left:0; z-index: 9}
.smy_course_head_xian{  position:absolute; top:0; right:0; bottom:0; left:0; margin:auto; width:0.03rem; height:0.81rem; background:#E8E8E8; overflow:hidden;  }
.smy_course_head_itemBox{ width:100%; height:100%; position:absolute; top:0; left:0; }
.smy_course_head_item{  float:left; width:50%; height:100%; text-align:center; }
.smy_course_head_itemlist{  display:inline-block; height:100%;line-height:1.20rem; padding:0 0.13rem; font-size:0.43rem; color:#0D0101; position:relative; }
.smy_course_head_itemlist>a.smy_course_head_cur{color:#DC2828; line-height:1.20rem; text-decoration: none;display: inline-block;box-sizing:border-box;border-bottom: .08rem solid #DC2828;}



/*课表——未完成*/
.smy_course_unfinish_list_box{  padding:1.63rem 0 1.6rem; background:#f5f5f5; }
.smy_course_unfinish_list_item{   position:absolute; width:100%; height:3.09rem; margin-bottom:0.27rem; border-top:0.03rem solid #e8e8e8; border-bottom:0.03rem solid #e8e8e8; background:#fff; padding:0.32rem; box-sizing:border-box; }
.smy_course_unfinish_list_item_time{  width:100%; height:0.83rem; font-size:0.4rem; color:#0D0101; }
.smy_course_unfinish_list_item_middle{ width:100%; height:1.63rem; }
.smy_course_unfinish_list_item_teacherImg{  width:1.6rem; height:1.6rem; border-radius:50%; border:0.03rem solid #e8e8e8; overflow:hidden; box-sizing:border-box; float:left; }
.smy_course_unfinish_list_item_teacherImg img{  width:100%; }
.smy_course_unfinish_list_item_imgRight{  float:left; padding-left:0.21rem; width:7.31rem;  }
.smy_course_unfinish_list_item_courseTitle{  width:100%; height:0.81rem; overflow:hidden; padding-top:0.04rem; box-sizing:border-box; }
.smy_course_unfinish_list_item_courseTitleRel{   display:inline-block; max-width:5.44rem; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; font-size:0.43rem; color:#4C4343; vertical-align:middle; }
.smy_course_unfinish_tiyan{  display:inline-block; width:1.6rem; margin-left:0.27rem; font-size:0.4rem; color:#4C4343; vertical-align:middle; }
.smy_course_unfinish_list_item_imgRightBot{  width:100%; height:0.56rem; }
.smy_course_unfinish_list_item_teacherName{  display:inline-block; height:0.53rem; font-size:0.4rem; color:#7F7979; vertical-align:middle; }
.smy_course_unfinish_list_item_follow{  display:inline-block; vertical-align:middle; }
.smy_course_unfinish_list_item_follow img{  display:block; height:0.56rem; }
.smy_course_unfinish_list_item_button_hui{  position:absolute; right:0.32rem; bottom:0.32rem; width:1.97rem; height:0.77rem; border:0.03rem solid #968F8F; border-radius:2.67rem; background:#fff; line-height:0.77rem;  text-align:center; font-size:0.35rem; color:#7F7979; }
.smy_course_unfinish_list_item_button_hong{  position:absolute; right:0.32rem; bottom:0.32rem; width:1.97rem; height:0.77rem; border:0.03rem solid #DC2828; border-radius:2.67rem; background:#fff; line-height:0.77rem;  text-align:center; font-size:0.35rem; color:#DC2828; }

.smy_course_unfinish_list_item_state{  position:absolute; right:0.32rem; top:0.32rem; height:0.48rem; }
.smy_course_unfinish_list_item_state span{ display:inline-block; vertical-align:middle; font-size:0.32rem; color:#DC2828; }
.smy_course_unfinish_list_item_state img{ display:inline-block; height:0.4rem;  vertical-align:middle; margin-left:0.16rem; }

.smy_course_unfinish_list_item_state2{  position:absolute; right:0.32rem; top:0.32rem; height:0.48rem; }
.smy_course_unfinish_list_item_state2 span{ display:inline-block; vertical-align:middle; font-size:0.32rem; color:#FF6600; }
.smy_course_unfinish_list_item_state2 img{ display:inline-block; height:0.4rem;  vertical-align:middle; margin-left:0.16rem; }

/*课表——未完成——未支付*/
.smy_course_unfinish_none{  width:100%; padding-top:3.2rem; }
.smy_course_unfinish_none_img{  display:block; width:2.57rem; margin:0 auto 0.8rem; }
.smy_course_unfinish_none_text{  width:100%; text-align:center; font-size:0.37rem; color:#4A4A4A; }

/*课表——已完成*/
.smy_course_finished_list_box{  padding:1.63rem 0 1.6rem; background:#f5f5f5; }
.smy_course_finished_list_item{   position:relative; width:100%; height:3.87rem; margin-bottom:0.27rem; border-top:0.03rem solid #e8e8e8; border-bottom:0.03rem solid #e8e8e8; background:#fff; padding:0.32rem; box-sizing:border-box; }
.smy_course_finished_list_item_time{  width:100%; height:0.83rem; font-size:0.4rem; color:#0D0101; }
.smy_course_finished_list_item_middle{ width:100%; height:1.6rem; margin-bottom: 0.13rem; }
.smy_course_finished_list_item_teacherImg{ width:1.6rem; height:1.6rem; border-radius:50%; border:0.03rem solid #e8e8e8; overflow:hidden; box-sizing:border-box; float:left; }
.smy_course_finished_list_item_teacherImg img{  width:100%; }
.smy_course_finished_list_item_imgRight{  float:left; padding-left:0.21rem; width:7.31rem;  }
.smy_course_finished_list_item_courseTitle{  width:100%; height:0.81rem; overflow:hidden; padding-top:0.04rem; box-sizing:border-box; }
.smy_course_finished_list_item_courseTitleRel{   display:inline-block; max-width:5.44rem; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; font-size:0.43rem; color:#4C4343; vertical-align:middle; }
.smy_course_finished_tiyan{  display:inline-block; width:1.6rem; margin-left:0.27rem; font-size:0.4rem; color:#4C4343; vertical-align:middle; }
.smy_course_finished_list_item_imgRightBot{  width:100%; height:0.56rem; }
.smy_course_finished_list_item_teacherName{  display:inline-block; height:0.53rem; font-size:0.4rem; color:#7F7979; vertical-align:middle; }
.smy_course_finished_list_item_follow{  display:inline-block; vertical-align:middle; }
.smy_course_finished_list_item_follow img{  display:block; height:0.56rem; }
.smy_course_finished_list_item_bottom{  width:100%; height:0.67rem; }
.smy_course_finished_list_item_bottom_text{  float:left; height:0.67rem; line-height:0.67rem; font-size:0.35rem; color:#4C4343; }
.smy_course_finished_list_item_xing{  float:left; width:3.12rem; height:0.67rem;  padding-top:0.1rem; box-sizing:border-box; }
.smy_course_finished_list_item_xing img{  float:left; height:0.4rem;  vertical-align:middle; margin-left:0.16rem; }
.smy_course_finished_list_item_trophy{  float:left; }
.smy_course_finished_list_item_trophyImg{   float:left; width:0.45rem; }
.smy_course_finished_list_item_trophyText{   float:left;  font-size:0.32rem; color:#FFC800; height:0.67rem; line-height:0.67rem; }
a.smy_course_finished_list_item_btu_hong{ color:#DC2828;float:right; width:1.44rem; height:0.64rem; border:0.03rem solid #DC2828; border-radius:2.67rem; background:#fff; line-height:0.64rem;  text-align:center; font-size:0.32rem; }
.smy_course_finished_list_item_btu_hui{ float:right; width:1.44rem; height:0.64rem; border:0.03rem solid #7F7979; border-radius:2.67rem; background:#fff; line-height:0.64rem;  text-align:center; font-size:0.32rem; color:#7F7979; }
.smy_course_finished_list_item_state{  position:absolute; right:0.32rem; top:0.32rem; height:0.48rem; color:#FF6600; font-size:0.32rem;}


